@model AlumnoMVC.Models.Alumno

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div class="details-container">
    <h4>Detalles de Alumno</h4>
    <hr />
    <div class="details-separator">
        <div class="details-row">
            <div class="details-label">
                @Html.DisplayNameFor(model => model.Nombre)
            </div>
            <div class="details-value">
                @Html.DisplayFor(model => model.Nombre)
            </div>
        </div>
        <div class="details-row">
            <div class="details-label">
                @Html.DisplayNameFor(model => model.Codigo)
            </div>
            <div class="details-value">
                @Html.DisplayFor(model => model.Codigo)
            </div>
        </div>
        <div class="details-row">
            <div class="details-label">
                @Html.DisplayNameFor(model => model.Direccion)
            </div>
            <div class="details-value">
                @Html.DisplayFor(model => model.Direccion)
            </div>
        </div>
        <div class="details-row">
            <div class="details-label">
                @Html.DisplayNameFor(model => model.Email)
            </div>
            <div class="details-value">
                @Html.DisplayFor(model => model.Email)
            </div>
        </div>
        <div class="details-row">
            <div class="details-label">
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </div>
            <div class="details-value">
                @Html.DisplayFor(model => model.FechaNacimiento)
            </div>
        </div>
        <div class="details-row">
            <div class="details-label">
                @Html.DisplayNameFor(model => model.YearEstudio)
            </div>
            <div class="details-value">
                @Html.DisplayFor(model => model.YearEstudio)
            </div>
        </div>
    </div>
    <div class="details-buttons">
        <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
        <a asp-action="Index">Volver a la Lista</a>
    </div>
</div>
